main .publication{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 0px ;
    gap: 10px;

    border-bottom: 2px solid #D392B3;
}

main .publication .about-author{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
}

main .publication .about-author img{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1.5px solid #6D2C4D;
    border-radius: 50px;
}

main .publication .about-author .text-about-author{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

main .publication .about-author .text-about-author p{
    font-family: 'Gabriela';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #491D33;
}

main .publication .about-author .text-about-author div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
}

main .publication .about-author .text-about-author div .ellipse{
    width: 4px;
    height: 4px;

    background: #240F1A;
    border-radius: 50px;
}

main .publication .about-author .text-about-author div p{
    font-family: 'Gabriela';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #240F1A;
}

main .publication .content-button{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
}

main .publication .content-button .content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 468px;
    height: 584px;

    background: #12070D;
    border: 2px solid #6D2C4D;
    border-radius: 15px 15px 0px 15px;
}

main .publication .content-button .content img{
    width: 100%;
    height: auto;
}

main .publication .content-button .all-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
}

main .publication .content-button .all-button .button{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 50px;
    height: 50px;
    background: #E2B6CC;
    border: 1px solid #913B66;
    border-radius: 0px 15px 15px 0px;
}

main .publication .content-button .all-button .button img {
    width: 80%;
    height: auto;
}

main .publication .content-button .all-button .button p{
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #913B66;
}

@media only screen and (max-width: 500px) {
    main .publication .content-button .content{
        width: 86vw;
        height: 107.3vw;
    }
    
}